@{
    ViewData["Title"] = "Home Page";
}
    @*<style type="text\css">
        div {
            background-color: red;
        }
    </style>*@

    <body style="background-color:#9820f6";>
        <div class="text-center">
            <h1 class="display-4">Welcome, Evert</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </body>